# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
python_lib.zip
_book/

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*,cover
.hypothesis/

# Translations
*.mo
*.pot

# Django stuff:
*.log

# Sphinx documentation
docs/_build/
docs/apidocs/_build/
docs/assets/SketchResponse.pdf
docs/assets/SketchResponseAPI.pdf
.buildinfo

# PyBuilder
target/

#Ipython Notebook
.ipynb_checkpoints

# emacs temp files
*~

# mac specific files
*.DS_Store

# front-end build
static/sketch_tool_dist/

# jupyter notebooks
jupyter_notebook
