@import "vendor/normalize";
@import "vendor/katex";
@import "vendor/sweetalert2";

body {
  background: none transparent;
  padding: 15px;
}

.default-text, .tag {
  user-select: none;
}

// CSS reset bound to our container
#si-container, #si-container * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  button {
    font: inherit;
  }
  button:-moz-focus-inner {
    border: none;
  }
}

#si-container {
  position: relative;
  background: white;
  box-shadow: 0px 4px 10px 0px rgba(0,0,0,0.2);
  border-bottom: 1px solid hsla(0,0,0%,0.2);
  display: inline-flex;
  flex-direction: column;

  // Default font
  font-family: "Noto Sans Regular", sans-serif;
  font-size: 12px;
  line-height: 1.3;
}

#si-canvas {
  clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%, 0% 0%);
}

#si-placeholder {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#si-attribution {
  position: absolute;
  bottom: -1.3em;
  right: 0;
  cursor: default;
  user-select: none;
  opacity: 0.4;
  a {
    color: inherit;
  }
  &:hover {
    opacity: 1;
  }
}

#si-help-legal {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  background-color: hsla(0, 0%, 98%, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;

  &[data-visible="false"] {
    display: none;
  }

  .si-dialog {
    width: 500px;
    background-color: white;
    box-shadow: 0px 4px 14px 2px rgba(0, 0, 0, 0.2);
    padding: 20px;

    header {
      border-bottom: 1px solid #eee;
      padding-bottom: 1em;
    }

    p {
      margin-top: 1em;
    }

    a {
      color: black;
    }

    p.si-copyright {
      margin-top: 0;
      color: #888;
      font-size: 0.95em;
    }
  }
}

/******** Toolbar code begins here ********/

#si-toolbar {
  width: 100%;
  display: flex;
  background: #eee;
  border-top: 1px solid hsla(0,0,100%,0.7);
  border-bottom: 1px solid hsla(0,0,0,0.03);
  user-select: none;

  hr:last-of-type { margin-left: auto; } // Push last group to the right

  hr {
    border: none;
    margin: 0;
    width: 2px;
    margin: 4px 7px;
    background: hsla(0,0,100%,0.5);
  }

  hr {width: 2px; background: hsla(0,0,100%,0.7); }

  .item {
    min-width: 55px;
    max-width: 75px;
    position: relative;
    display: flex;
    flex-direction: column;
    border-bottom: 3px solid transparent;

    &:hover { border-bottom-color: hsla(0,0,0,0.2); }

    &[data-is-active="true"] {
      border-bottom-color: hsla(0,0,0,0.6);
      button:not(.dropdown-button) { opacity: 1; }
    }

    &[data-is-open="false"] {
      menu { display: none; }
    }
  }

  button {
    opacity: 0.5;
    background: none;
    border: none;
    outline: none;
    padding: 3px;
    display: block;
    width: 100%;
    position: relative;

    &.split-button-main { padding-bottom: 0; }
    &.split-button-aux { padding-top: 0; }

    &:hover {
      opacity: 1;
      background: hsla(0,0,0,0.05);
    }

    &:active { background: hsla(0,0,0,0.1); }
  }

  .icon {
    display: block;
    margin: 0 auto;
    padding: 2px;
    height: 35px;
  }

  .label {
    @extend .default-text;
    padding: 0 5px;
    height: 32px;
    cursor: default;
  }

  menu {
    width: 100%;
    top: calc(100% + 5px);
    position: absolute;
    display: block;

    button:hover { background: none; }
  }
}
