<!doctype html>
<title>SketchResponse Grader Scripts</title>
<h1>SketchResponse Grader Scripts</h1>
<ul>
    {%- for item in tree.children recursive %}

{%- if item.name.endswith("__init__.py") %}
    {% elif item.name.endswith(".py") %}
    <li><a href="{{ item.name.replace('.py', '') }}">{{ item.name }}</a></li>
    {% elif item.name.endswith(".pyc") %}
    {% elif item.name.endswith(".py~") %}
    {% else %}
    <li>{{ item.name }}
    {%- if item.children -%}
        <ul>{{ loop(item.children) }}</ul>
    {%- endif %}</li>
    {% endif %}
{%- endfor %}
</ul>
