/* notosans-regular */
@font-face {
  font-family: 'Noto Sans Regular';
  font-style: normal;
  font-weight: 400;
  src: local('Noto Sans Regular'),
       url('notosans-regular-webfont.woff2') format('woff2'), /* Chrome 26+, Opera 23+ */
       url('notosans-regular-webfont.woff') format('woff');   /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
